@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Readex Pro", sans-serif;
}

body {
  background-color: #6b88fe;
  color: whitesmoke;
}

h1 {
  text-align: center;
  padding: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.element {
  text-align: center;
  width: 40%;
  height: auto;
  padding: 10px;
}

@media (min-width: 1024px) {
  .element {
    width: 20%;
  }
}

.element img {
  max-width: 100%;
  max-height: 50%;
  object-fit: contain;
}

.element h2 {
  text-decoration: underline;
  padding: 8px;
}
